/* Шрифты */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* Стили для всей всех страниц */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #222222;
}

input, button {
    outline: none;
    overflow: hidden;
    border: none;
}

/* header на всех страницах */

.header {
    min-height: 100px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header-right, .header-left {
    display: flex;
    align-items: center;
}

.header__logo {
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.68px;
    margin-right: 36px;
}

.header__logo span {
    color: #f16d7f;
    font-weight: 900;
}

.header__search {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 38px;
}

.search__browse {
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    font-size: 14px;
    letter-spacing: 0.35px;
    padding: 14px 9px 14px 19px;
}

.fa-caret-down {
    margin-left: 5px;
}

.header__search input {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    height: inherit;
    min-width: 280px;
}

.header__search input::placeholder {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.fa-search {
    color: #a4a4a4;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    padding: 12px 11px;
}

.header-right img {
    margin-right: 26px;
}

.header-right a {
    padding: 13px 12px 11px 19px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.38px;
}

.header-line {
    border-bottom: 1px solid #ececec;
}

/* topNav на всех страницах */

.topNav {
    min-height: 51px;
    font-size: 14px;
    font-weight: 700;
}

.topNav .menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.topNav > .menu-list a {
    text-transform: uppercase;
}

.topNav > .menu-list > li:not(:last-child) {
    margin-right: 48px;
}