@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body{
  margin: 0;
  padding: 0;
  width: 100%;
  color: $mainColor;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.container{
  width: $containerWidth;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #222222;
}

input, button {
  outline: none;
  overflow: hidden;
  border: none;
}