.subscribe{
  width: 100%;
  background-image: url("../../img/background_subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bcbcbc;
  background-blend-mode: overlay;
  background-position: top;
  min-height: 438px;
  padding-top: 111px;
  margin-bottom: 123px;
  box-sizing: border-box;

  &__div {
    display: flex;

    &__slider {
      border-right: 1px solid #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      &__avatar{
        margin-right: 28px;
        width: 83px;
        height: 83px;
      }

      &__quote{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.4px;
        font-weight: 600;
        padding-right: 13%;
        margin-top: 12px;
        margin-bottom: 19px;
      }

      &__name{
        margin: 0;
        font-weight: 700;
        letter-spacing: 0.4px;
        line-height: 26px;
        color: $colorSelection;
      }

      &__place{
        margin: 0;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 14px;
      }

      &__links{
        display: flex;
        margin-top: 41px;

        &__a{
          width: 38px;
          height: 4px;
          background-color: #d6d6d6;
          margin-right: 13px;

          &:last-child{
            margin-right: 0;
          }

          &:hover{
            background-color: darken(#d6d6d6, 30%);
          }

          &__active{
            width: 38px;
            height: 4px;
            margin-right: 13px;
            background-color: $colorSelection;
          }
        }
      }
    }

    &__form{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding-right: 10%;
      box-sizing: border-box;

      h2{
        font-size: 24px;
        letter-spacing: 0.6px;
        line-height: 54px;
        text-transform: uppercase;
        margin: 0;
        margin-top: 25px;
      }

      &__description{
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.35px;
        line-height: 24px;
        margin: 0;
      }

      form{
        margin-top: 35px;
        input[type="email"]{
            border-radius: 23px;
            background-color: #e1e1e1;
            padding: 18px 28px;
            min-width: 334px;

          &::placeholder{
            font-size: 14px;
            font-weight: 400;
            line-height: 54px;
            letter-spacing: 0.35px;
            opacity: 0.67;
          }
        }
        input[type="submit"]{
          margin-left: -52px;
          border-radius: 0 23px 23px 0;
          background-color: $colorSelection;
          padding: 18px;
          color: #ffffff;

          &:hover{
            cursor: pointer;
            background-color: darken($colorSelection, 20%);
          }
        }
      }
    }
  }
}

.about{
  display: flex;
  margin-bottom: 89px;

  &__text{

    width: 37%;
    box-sizing: border-box;

    a:hover{
      color: $mainColorHover;
    }

    &__logo {
      font-size: 27px;
      font-weight: 300;
      line-height: 32px;
      text-transform: uppercase;
      letter-spacing: 0.68px;
      margin-bottom: 29px;
      display: flex;
      align-items: center;

      img {
        margin-right: 13px;
      }

      span {
        color: $colorSelection;
        font-weight: 900;
      }

    }

    &__p{
      color: #898989;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.35px;

      &:first-of-type{
        margin-bottom: 40px;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    width: 63%;
    padding-left: 32px;

    h3 {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.45px;
      color: $colorSelection;
      margin-bottom: 45px;
      padding-top: 7px;
    }

      &__list{
      &__ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__li {

          margin-bottom: 29px;

          &:last-child {
            margin-bottom: 0;
          }

          &__a {
            color: #898989;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.4px;
            text-transform: capitalize;

            &:hover{
              color: darken($mainColor, 20%);
            }
          }
        }
      }
    }
  }
}

.footer{
  min-height: 79px;
  background-color: $colorFooter;
  display: flex;
  align-items: center;

  &__content{
    display: flex;
    justify-content: space-between;

    &__copyright{
      font-size: 16px;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 0.4px;
      color: #7a7a7a;
      text-transform: capitalize;
    }

    &__social{
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &__link{
        background-color: #ffffff;
        color: #b2b2b2;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:last-child{
          margin-right: 0;
        }

        &:hover{
          background-color: $colorSelection;
        }

        &__unactive{
          opacity: 0.3;
        }
      }
    }
  }
}