$mainColor: #222222;
$containerWidth: 1140px;
$colorSelection: #f16d7f;
$mainColorHover: lighten($mainColor, 40%);
$colorSelectionHover: lighten($colorSelection, 10%);
$bgColorImg: #e8e8e8;
$bgColorHover: #3a3838;
$colorFooter: #e6e6e6;
$colorNewArrivals: #f8f3f4;
$colorOrderedTable: #656565;
$backgroundLight: #f7f7f7;
$backgroundDark: #222224;