@import "general";

.breadcrumbs{
  min-height: 148px;
  background-color: $colorNewArrivals;
  display: flex;
  align-items: center;
  margin-bottom: 90px;

  &__content {
    display: flex;
    justify-content: space-between;

    h2 {
      color: $colorSelection;
      font-size: 24px;
      font-weight: 900;
      line-height: 20px;
      text-transform: uppercase;
    }

    &__nav{
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      text-transform: uppercase;

      &__a{
        color: #636363;

        &__active{
          color: $colorSelection;
          font-weight: 700;
        }

        &:hover{
          color: darken($colorSelection, 20%);
        }
      }
    }
  }
}

